html{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}
.capitalize{
    text-transform: capitalize;
}
.shadow{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn{
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 1em;
    padding: 0.55em 1.6em;
    display: inline-block;
    text-align: center;
}
.get-started-cta{
    background-color: #fe52c0;
    margin: 1.2em auto 5em auto;
    color: white;
    font-size: 0.6em;
    padding: 1.2em 5em;
    border-radius: 3em;
    width: 30%;
}
h1,
h2{
    color: #00242c;
}
h2{
    font-size: 1.2em;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
}
header .logo{
    width: 9em;
    height: 1.4em;
}
header nav a{
    background-color: white;
    color: #021f2d;
    font-size: 0.9em;
}
.hero{
    background-image: url('./images/bg-hero-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: aliceblue;
}
.hero-content{
    text-align: center;
    padding: 2em;
}
.hero-content p{
    color: #07282f;
    line-height: 1.5em;
    font-size: larger;
}
div.features{
    padding: 4em 1em 0 1em;
}
div.card,
.btn{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
article{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
article,
div.card{
    border-radius: 1em;
}
article{
    padding: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}
article img{
    margin-bottom: 3em;
}
article p{
    line-height: 1.4em;
    color: #808791;
}
div.card h2{
    font-size: 1.2em;
}
div.card a{
    margin: 1.2em auto;
}
.cta-bottom-card{
    position: relative;
    bottom: -3em;
    left: auto;
    right: auto;
    padding: 1.2em;
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    width: 85%;
    margin: 0 auto;
}
footer{
    background-color: #00252e;
    color: white;
    padding: 6em 1em 1em 1em;
}
footer .logo{
    filter: brightness(0) invert(1);
    width: 11em;
}
/* ul.contact-info, */
ul.site-pages-list,
.social-links{
    list-style: none;
}
ul.contact-info{
    margin-bottom: 2em;
    list-style: none;
    padding-left: 2em;
}
/* AR */
.address,
.phone-number,
.e-mail-address{
    padding: 0 0.5em;
}
.address::marker,
.phone-number::marker,
.e-mail-address::marker{
    content: url('./images/icon-location.svg');
    display: inline-block;
    width: 4em;
    color: white !important;
    filter: brightness(0) invert(1);
}
.phone-number::marker{
    content: url('./images/icon-phone.svg');
}
.e-mail-address::marker{
    content: url('./images/icon-email.svg');
}
ul.contact-info li{
    margin: 1em auto;
    font-style: normal;
}
ul.site-pages-list{
    padding-left: 0;
    /* column-count: 2; */
}
/* ul.site-pages-list li{
    display: inline-block;
    width: 100%;
} */
ul.site-pages-list li{
    margin: 1em auto;
}
.social-links{
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.social-links li img{
    height: 1em;
    width: 1em;
    border: 1px solid white;
    border-radius: 100%;
    padding: 0.4em;
    margin: 0.25em;
    filter: brightness(0) invert(1);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 1024px) {
    .hero-content{
        display: flex;
    }
    footer {
        padding: 12em 6em 1em 6em;
    }
    footer > div{
        display: flex;
        margin: 0 1em;
    }
    footer > div address{
        max-width: 45%;
    }
    ul.site-pages-list{
    padding-left: 0;
    column-count: 2;
    }
    ul.site-pages-list li{
        display: inline-block;
        width: 100%;
        margin-top: 0;
    }
    p.attribution{
        text-align: right;
    }
}